.card-book{
    background-color: #fff;   
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    padding: 2rem 3rem;
    border-radius: .3rem;
    box-shadow: 0px 3px 5px -2px #444;
}

.card-book__image{
    width: 300px;
}

.card-book__direito__header{
    margin-bottom: 30px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
}

.card-book__title{
    font-size: 1.5rem;
    font-weight: 400;
}

.card-book__author{
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
}

.card-book__author > span{
    position: relative;
    color: #0088aa;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-book__author > span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0088aa;
    height: 2px;
    width: 0;
}

.card-book__author > span:hover::after{
    width: 100%;
}

.card-book__direito__content{
    display: grid;
    gap: 20px;
}

.card-book__description{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}
  
@media (max-width: 900px){
    .card-book{
        flex-direction: column;
        text-align: center;
    }
}